<div class="contingent-overview">
  <mat-card class="overview-card">
    <mat-card-content>
      <app-contingent-overview-toolbar
        [years]="years"
        [selectedYear]="year"
        [hourTypes]="hourTypes"
        [selectedHourType]="selectedHourType"
        [exportDisabled]="tableData.length === 0"
        [loading]="isGenerating"
        (yearChanged)="onYearChanged($event)"
        (hourTypeChanged)="onHourTypeChanged($event)"
        (infoClicked)="openValueTypeInfoModal($event)"
        (exportClicked)="exportTable()">
      </app-contingent-overview-toolbar>

      <mat-divider class="table-divider"></mat-divider>

      <div class="table-wrapper">
        <app-loading-spinner *ngIf="isGenerating"></app-loading-spinner>
        <app-object-table
          *ngIf="!isGenerating && isLoadedInitially"
          [boldColumnIndices]="[0,1]"
          [exportFilename]="'ContingentOverview'"
          [columnFixedWidthFromIndex]="1"
          [data$]="data$"
          [header$]="header$"></app-object-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
