.width-350 {
  width: 350px;
}

::ng-deep.red-date {
  background-color: rgba(255,0,0,0.8) !important;
  border-radius: 100%;
}

::ng-deep.yellow-date {
  background-color: rgba(224, 181, 46, 0.8) !important;
  border-radius: 100%;
}

::ng-deep.green-date {
  background-color: rgba(52, 129, 52, 0.8) !important;
  border-radius: 100%;
}

::ng-deep mat-calendar .mat-calendar-body-cell:hover {
  background-color: rgba(52, 129, 52, 0) !important;
  cursor: pointer;
  border-radius: 50%;
}
