<mat-card class="mat-elevation-z9 mx-auto mb-5 mt-1 width-350">
  <mat-card-header>
    <mat-card-title>
      <div>
        {{goal.title}}
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span class="wrap-content">{{goal.description}}</span>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="m-1">
      @if (goal.hours.length > 0) {
        <mat-chip-set>
          <mat-chip class="mat-hour-chip" *ngFor="let hour of goal.hours">
            <span>{{hour.weeklyHours}}h | {{hour.hourType.title}}</span>
          </mat-chip>
        </mat-chip-set>
      }
    </div>
  </mat-card-footer>
</mat-card>
