<h1 mat-dialog-title>Aufgabe ändern</h1>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div mat-dialog-content class="task-modal-content">
    <mat-form-field appearance="outline"><mat-label>Titel</mat-label><input matInput formControlName="title" required></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Beschreibung</mat-label><textarea matInput rows="4" formControlName="description"></textarea></mat-form-field>
    <mat-form-field appearance="outline"><mat-label>Fällig am</mat-label><input matInput formControlName="dueDate" [matDatepicker]="picker" required><mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint><mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle><mat-datepicker #picker></mat-datepicker></mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-end"><button mat-button type="button" (click)="cancel()">Abbrechen</button><button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isSubmitting">Speichern</button></div>
</form>
