<div [formGroup]="selectionGroup">
  <mat-form-field appearance="fill" class="width-350">
    <mat-label>Bereich</mat-label>
    <mat-select class="text-start"
                placeholder="..."
                formControlName="institutionControl">
                @if (institutions) {
                  @for (institution of institutions; track institution.id) {
                  <mat-option [disabled]="disabled"
                      [value]="institution">
                  {{institution.name}}
                  </mat-option>
        }
      }
    </mat-select>
    <button mat-icon-button
            class="my-1 mx-2"
            matPrefix
            [disabled]="disabled"
            (click)="reset($event)">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>
