<app-info-header [title]="'Neuer Hilfeplan für &quot;' + client.lastName + ' ' + client.firstName + '&quot;'"></app-info-header>

<div class="container-fluid mt-3">
  <mat-stepper [linear]="true">
    <mat-step [stepControl]="generalForm">
      <ng-template matStepLabel>Daten</ng-template>

      <div class="container-fluid text-center">
        <p><b>{{client.lastName}} {{client.firstName}}</b></p>

        <form [formGroup]="generalForm">
          <mat-form-field appearance="fill" class="w-25">
            <mat-label>Beginn</mat-label>
            <input matInput
                   formControlName="start"
                   [matDatepicker]="startPicker"
                   required>
            <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
            <mat-datepicker-toggle matSuffix
                                   [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field><br><br>

          <mat-form-field appearance="fill" class="w-25">
            <mat-label>Ende</mat-label>
            <input matInput
                   formControlName="end"
                   [matDatepicker]="endPicker"
                   required>
            <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
            <mat-datepicker-toggle matSuffix
                                   [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field><br><br>

          <mat-form-field appearance="fill" class="w-25">
            <mat-label>Kostenträger</mat-label>
            <mat-select formControlName="sponsor"
                        required>
              <mat-option *ngFor="let value of sponsors"
                          [value]="value.id">
                {{value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field><br>

          <mat-form-field appearance="fill" class="w-25">
            <mat-label>Bereich</mat-label>
            <mat-select formControlName="institution"
                        required>
              <mat-option *ngFor="let institution of affiliatedInstitutions"
                          [value]="institution.id">
                {{institution.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            <button mat-button
                    [disabled]="generalForm.invalid || isSubmitting"
                    class="mat-stroked-button mx-2"
                    matStepperNext>Weiter</button>
          </div>
        </form>
      </div>
    </mat-step>

    <mat-step>
      <div class="container-fluid">
        <ng-template matStepLabel>Stunden</ng-template>

        <app-assistance-plan-hours [assistancePlanView$]="valueView$"
                                   [editable]="true"
                                   (updatedValueEvent)="updateAssistancePlanHour($event)"
                                   (addedValueEvent)="addAssistancePlanHour($event)"
                                   (deletedValueEvent)="deleteAssistancePlanHour($event)"></app-assistance-plan-hours>

        <div class="text-center">
          <button mat-button
                  class="mat-stroked-button mx-2"
                  matStepperPrevious>Zurück</button>
          <button mat-button
                  class="mat-stroked-button mx-2"
                  matStepperNext>Weiter</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <div class="container-fluid text-center">
        <ng-template matStepLabel>Speichern</ng-template>
        <p>Alle Eingaben vollständig. Sie können den neuen Hilfeplan nun speichern.</p>
        <div>
          <button mat-button
                  class="mat-stroked-button m-1"
                  matStepperPrevious>Zurück</button>
          <button mat-button
                  class="mat-stroked-button m-1"
                  [disabled]="generalForm.invalid || isSubmitting"
                  (click)="create()">Speichern</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
