<mat-card class="mat-elevation-z4 mx-4 mb-5 mt-1">
  <mat-card-title>
    <div>
      {{goal.title}}
    </div>
  </mat-card-title>
  <mat-card-content>
    <div>
      <span class="wrap-content">{{goal.description}}</span>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="m-1">
      <mat-chip-list *ngIf="goal.hours.length > 0">
        <mat-chip class="mat-hour-chip" *ngFor="let hour of goal.hours">
          <span>{{hour.weeklyHours}}h | {{hour.hourTypeTitle}}</span>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="m-1">
      <mat-chip-list>
        <mat-chip *ngIf="goal.institutionName != null">
          {{goal.institutionName}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-footer>
</mat-card>
