.filters-mobile {
  display: none;
  margin-top: 8px;
}

.filters-mobile-top {
  margin-bottom: 8px;
}

.filters-mobile-body .d-flex {
  justify-content: center;
}

.services-content {
  position: relative;
  z-index: 1;
  margin-top: 8px;
}

.services-loading {
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 12px 0;
}
.filters-mobile-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .filters-desktop {
    display: none;
  }

  .filters-mobile {
    display: block;
  }
}
