.custom-fullscreen {
  height: calc(100% - 88px) !important;
  max-height: 90% !important;
  overflow-y: auto;
  float: left;
}

.custom-height-100-percent {
  height: calc(100vh - 56px) !important;
  max-height: 100% !important;
}

.test {
  min-width: 400px !important;
}

table {
  width: 100%;
}

.example-container {
  height: calc(90vh - 56px) !important;
  overflow: auto;
}

.button-color {
  background-color: limegreen !important;
}

.button-color :disabled {
  background-color: #541a1a !important;
}

