<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="h5 fw-light text-white">Startseite von {{ currentEmployee?.firstName }} {{ currentEmployee?.lastName }}</span>
  </div>
</nav>

<mat-tab-group>
  <mat-tab label="Favoriten"></mat-tab>
  <mat-tab label="Allgemein">
    <mat-accordion>
      <!--INFORMATIONS-->
      <mat-expansion-panel class="mat-elevation-z2 mx-2 mt-2">
        <mat-expansion-panel-header>
          <mat-panel-title class="fw-bold">
            Informationen
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container-fluid">
          <app-information-row [title]="'Benutzername'"
                               [content]="username"></app-information-row>
          <app-information-row [title]="'Name'"
                               [content]="currentEmployee.firstName + ' ' + currentEmployee.lastName"></app-information-row>
          <app-information-row [title]="'Email'"
                               [content]="currentEmployee.email"></app-information-row>
          <app-information-row [title]="'Telefon'"
                               [content]="currentEmployee.phonenumber"></app-information-row>
          <app-information-row [title]="'Rolle'"
                               [content]="role"></app-information-row>
        </div>
      </mat-expansion-panel>

      <!--PERMISSIONS-->
      <mat-expansion-panel class="mat-elevation-z2 mx-2">
        <mat-expansion-panel-header>
          <mat-panel-title class="fw-bold">
            Zugriffsrechte
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-fluid">
          <table mat-table
                 [dataSource]="permissions"
                 class="mat-elevation-z4">
            <ng-container matColumnDef="name">
              <th mat-header-cell
                  *matHeaderCellDef
                  class="text-center">Name</th>
              <td mat-cell
                  *matCellDef="let permission"
                  class="text-center"> {{permission[0].name}} </td>
            </ng-container>

            <ng-container matColumnDef="lead">
              <th mat-header-cell
                  *matHeaderCellDef
                  class="text-center">Leitung</th>
              <td mat-cell
                  *matCellDef="let permission"
                  class="text-center">
                <mat-checkbox class="example-margin"
                              [disabled]="true"
                              [checked]="permission[2].changeInstitution"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="write">
              <th mat-header-cell *matHeaderCellDef class="text-center">Schreibrecht</th>
              <td mat-cell *matCellDef="let permission" class="text-center">
                <mat-checkbox class="example-margin"
                              [disabled]="true"
                              [checked]="permission[2].writeEntries"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="read">
              <th mat-header-cell *matHeaderCellDef class="text-center">Leserecht</th>
              <td mat-cell *matCellDef="let permission" class="text-center">
                <mat-checkbox class="example-margin"
                              [disabled]="true"
                              [checked]="permission[2].readEntries"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="affiliated">
              <th mat-header-cell *matHeaderCellDef class="text-center">Zugehörigkeit</th>
              <td mat-cell *matCellDef="let permission" class="text-center">
                <mat-checkbox class="example-margin"
                              [disabled]="true"
                              [checked]="permission[2].affiliated"></mat-checkbox>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
          </table>
        </div>
      </mat-expansion-panel>

      <!--PASSWORD CHANGE-->
      <mat-expansion-panel class="mat-elevation-z2 mx-2 mb-2">
        <mat-expansion-panel-header>
          <mat-panel-title class="fw-bold">
            Passwort ändern
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <form [formGroup]="passwordForm">
                <mat-form-field appearance="outline">
                  <mat-label>altes Passwort</mat-label>
                  <input matInput
                         type="password"
                         formControlName="oldPassword"
                         required>
                </mat-form-field><br>

                <mat-form-field appearance="outline">
                  <mat-label>neues Passwort</mat-label>
                  <input matInput
                         type="password"
                         formControlName="password1"
                         required>
                  <mat-error *ngIf="password1Control.invalid">{{ getControlErrorMessage(password1Control) }}</mat-error>
                </mat-form-field><br>

                <mat-form-field appearance="outline">
                  <mat-label>Passwort wiederholen</mat-label>
                  <input matInput
                         type="password"
                         formControlName="password2" required>
                  <mat-error *ngIf="password2Control.invalid">{{ getControlErrorMessage(password2Control) }}</mat-error>
                </mat-form-field><br>

                <button mat-raised-button
                        color="primary"
                        class="mat-stroked-button m-1"
                        [disabled]="passwordForm.invalid || isSubmitting"
                        (click)="updatePassword()">Passwort ändern</button>
              </form>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>
</mat-tab-group>
