<mat-expansion-panel class="mat-elevation-z2 mx-2 mb-2">
  <mat-expansion-panel-header>
    <mat-panel-title class="fw-bold">
      Passwort ändern
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>altes Passwort</mat-label>
            <input matInput
                   type="password"
                   formControlName="oldPassword"
                   required>
          </mat-form-field><br>

          <div class="fw-light">
            <p>9 Zeichen<br>1 Kleinbuchstabe<br>1 Großbuchstabe<br>
              1 Sonderzeichen (!%*?&)<br>1 Zahl </p>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>neues Passwort</mat-label>
            <input matInput
                   type="password"
                   formControlName="password1"
                   required>
            @if (password1Control.invalid) {
              <mat-error>{{ getControlErrorMessage(password1Control) }}</mat-error>
            }
          </mat-form-field><br>

          <mat-form-field appearance="fill">
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput
                   type="password"
                   formControlName="password2" required>
            @if (password2Control.invalid) {
              <mat-error>{{ getControlErrorMessage(password2Control) }}</mat-error>
            }
          </mat-form-field><br>

          <button mat-raised-button
                  color="primary"
                  class="mat-stroked-button m-1"
                  [disabled]="form.invalid || isSubmitting"
                  (click)="submitPassword.emit()">Passwort ändern</button>
        </form>
      </div>
    </div>
  </div>
</mat-expansion-panel>
