<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <mat-card class="mat-elevation-z7 max-width-500">
      <mat-card-title class="text-center h1">Anmeldung</mat-card-title>
      <mat-card-content class="text-center">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <fieldset [disabled]="isSubmitting">
            <div class="container-fluid">
              <p class="position-absolute top-0 end-0 fw-light scale-75">v.{{version}}</p>
              <div class="row justify-content-center">
                <mat-form-field appearance="fill">
                  <mat-label>Benutzername</mat-label>
                  <input matInput formControlName="username" required>
                  @if (loginFailed) {
                    <mat-icon
                            [color]="'warn'"
                            matSuffix
                            title="Fehler beim Login">report_problem</mat-icon>
                  }
                </mat-form-field>
              </div>

              <div class="row justify-content-center">
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" required>
                  @if (loginFailed) {
                    <mat-icon
                            [color]="'warn'"
                            matSuffix
                            title="Fehler beim Login">report_problem</mat-icon>
                  }
                </mat-form-field>
              </div>

              <div class="row">
                <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Login</button>
                @if (isSubmitting) {
                  <mat-spinner [diameter]="25"
                             class="loading"
                             [color]="'accent'"></mat-spinner>
                }
              </div>
            </div>
          </fieldset>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
