<div>
  <div class="row">
    <mat-paginator class="paginator"
                   showFirstLastButtons
                   (page)="handlePageEvent($event)"
                   [length]="pageLength"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"></mat-paginator>
  </div>
</div>

<div class="table-container">
  <button mat-mini-fab class="fixed-button"
          *ngIf="services.length > 0"
          (click)="exportAsCSV()"
          [matTooltip]="'.csv speichern'">
    <mat-icon>save</mat-icon>
  </button>

  <table mat-table
         matSort
         *ngIf="services.length > 0"
         [dataSource]="tableDataSource"
         class="mat-elevation-z4">
    <ng-container [matColumnDef]="displayedColumn" *ngFor="let displayedColumn of displayedColumns">
      <ng-container *ngIf="displayedColumn !== 'actions'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="overview-font-size">{{getColumnDisplayName(displayedColumn)}}</th>
        <td mat-cell *matCellDef="let element" class="overview-font-size" [innerHTML]="getFormattedCellContent(displayedColumn, element[displayedColumn])"></td>
      </ng-container>
      <ng-container *ngIf="displayedColumn == 'actions'" >
        <th mat-header-cell *matHeaderCellDef class="overview-font-size">Aktionen</th>
        <td mat-cell *matCellDef="let element" class="overview-font-size">
          <div>
            <button mat-icon-button
                    color="primary"
                    class="m-1"
                    *ngIf="editMode"
                    [routerLink]="['/services/edit', element['id']]">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button
                    color="warn"
                    class="m-1"
                    [disabled]="!(isAdmin$ | async)"
                    [matTooltip]="'Dokumentation löschen'"
                    (click)="openDeleteConfirmation(deleteContent, element['id'])">
              <mat-icon>delete</mat-icon></button>

            <!--DELETE MODAL CONFIRMATION-->
            <ng-template #deleteContent let-modal>
              <div class="modal-header">
                <h2 class="modal-title"
                    id="modal-basic-delete-title">Bestätigung</h2>
                <button type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Wollen sie den Dokumentationseintrag wirklich löschen?</p>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger"
                        (click)="modal.close(true)">Löschen</button>
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="modal.close(false)">Abbrechen</button>
              </div>
            </ng-template>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="overview-row-height"></tr>
  </table>
</div>

<div class="text-center"
     *ngIf="services.length <= 0">
  <mat-icon [color]="'warn'" class="m-auto mt-2">remove_circle_outline</mat-icon>
  <p class="mt-1"><b>Es wurden keine Einträge gefunden.</b></p>
</div>
