<mat-form-field class="example-full-width">
  <mat-label>Mitarbeiter</mat-label>
  <input type="text"
         placeholder="..."
         aria-label="Mitarbeiter"
         matInput
         [formControl]="employeeControl"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                    [displayWith]="displayFn">
                    @if (filteredEmployees$ | async; as employees) {
                      @for (employee of employees; track employee.id) {
                      <mat-option [value]="employee">
                      {{ getFullName(employee) }}
                      </mat-option>
      }
    }
  </mat-autocomplete>
  <button mat-icon-button
          class="my-1 mx-2"
          matPrefix
          [disabled]="disabled"
          (click)="reset($event)">
    <mat-icon>clear</mat-icon>
  </button>
</mat-form-field>
