<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/open-fls-backend.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="PERFORMANCE" class="ch.qos.logback.core.FileAppender">
        <filter class="de.vinz.openfls.logback.PerformanceLogbackFilter"/>
        <file>./logs/open-fls-backend-performance.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="FILE" />
        <appender-ref ref="PERFORMANCE" />
    </root>
</configuration>

