<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg%n%wEx</pattern>
        </encoder>
    </appender>

    <property name="LOG_DIR" value="${openfls.logging.directory:-./logs}" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/open-fls-backend.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger - %msg%n%wEx</pattern>
        </encoder>
    </appender>

    <appender name="PERFORMANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="de.vinz.openfls.logback.PerformanceLogbackFilter"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/open-fls-backend-performance.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LIVE" class="de.vinz.openfls.logback.LiveLogAppender" />

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/open-fls-audit.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>365</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.vinz.openfls.audit" level="INFO" additivity="false">
        <appender-ref ref="AUDIT" />
    </logger>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="FILE" />
        <appender-ref ref="PERFORMANCE" />
        <appender-ref ref="LIVE" />
    </root>
</configuration>
