<app-info-header [title]="'Eintrag'"></app-info-header>

<mat-drawer-container class="h-100">
  <!--PLANS-->
  <mat-drawer #goals mode="over">
    <div class="container-fluid">
      <mat-card class="demo-inline-calendar-card my-2">
      </mat-card>
    </div>
  </mat-drawer>

  <div class="container-fluid">
    <mat-stepper [linear]="true">
      <mat-step [stepControl]="firstForm">
        <ng-template matStepLabel>Allgemeines</ng-template>

        <div class="container-fluid text-center">
          <form [formGroup]="firstForm">
            <div class="container ">
              <div class="row justify-content-center">
                <div class="col">
                  <mat-label><b>Datum</b></mat-label><br>
                  <mat-form-field appearance="outline">
                    <mat-label>Datum</mat-label>
                    <input matInput
                           formControlName="serviceDate"
                           [matDatepicker]="startPicker"
                           required>
                    <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
                    <mat-datepicker-toggle matSuffix
                                           [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field><br><br>
                </div>
              </div>
              <div class="row">
                <div class="col text-end">
                  <mat-label class="me-5"><b>Beginn</b></mat-label><br>
                  <mat-form-field appearance="outline"
                                  class="small-mat-form-field me-1">
                    <mat-label>Stunde</mat-label>
                    <input matInput
                           type="number"
                           formControlName="startHour"
                           min="0"
                           max="23"
                           required>
                  </mat-form-field>

                  <mat-form-field appearance="outline"
                                  class="small-mat-form-field">
                    <mat-label>Minute</mat-label>
                    <input matInput
                           type="number"
                           formControlName="startMinute"
                           min="0"
                           max="59"
                           required>
                  </mat-form-field><br><br>
                </div>

                <div class="col text-start">
                  <mat-label class="ms-5"><b>Ende</b></mat-label><br>
                  <mat-form-field appearance="outline"
                                  class="small-mat-form-field me-1">
                    <mat-label>Stunde</mat-label>
                    <input matInput
                           type="number"
                           formControlName="endHour"
                           min="0"
                           max="23"
                           required>
                  </mat-form-field>

                  <mat-form-field appearance="outline"
                                  class="small-mat-form-field">
                    <mat-label>Minute</mat-label>
                    <input matInput
                           type="number"
                           formControlName="endMinute"
                           min="0"
                           max="59"
                           required>
                  </mat-form-field><br><br>

                </div>
              </div>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>ausführender Bereich</mat-label>
              <mat-select formControlName="institution"
                          required>
                <mat-option *ngFor="let institution of institutions"
                            [value]="institution.id">
                  {{institution.name}}
                </mat-option>
              </mat-select>
            </mat-form-field><br>

            <div>
              <button mat-button
                      [disabled]="firstForm.invalid"
                      class="mat-stroked-button mx-2"
                      matStepperNext>Weiter</button>
            </div>
          </form>
        </div>
      </mat-step>

      <mat-step [stepControl]="secondForm">
        <ng-template matStepLabel>Hilfeplan</ng-template>

        <div class="container-fluid text-center">
          <form [formGroup]="secondForm">
            <div class="container">
              <div class="row justify-content-center"
                   [hidden]="editMode">
                <mat-form-field appearance="outline">
                  <mat-label>Klientensuche</mat-label>
                  <input type="text"
                         placeholder="Name des Klienten"
                         matInput
                         formControlName="client">
                </mat-form-field>
              </div>

              <!--CLIENTS-->
              <div class="row my-4">
                <div class="col">
                  <mat-card class="mat-elevation-z4 text-center">
                    <div class="container-fluid">
                      <div class="row text-start">
                        <mat-label class="fw-light">Klienten *</mat-label>
                      </div>

                      <div class="row">
                        <mat-divider></mat-divider>
                      </div>

                      <div class="row">
                        <mat-selection-list [multiple]="false"
                                            formControlName="clientList">
                          <mat-list-option *ngFor="let value of filteredClients"
                                           [value]="value.id">
                            {{value.lastName}} {{value.firstName}}
                            <mat-divider></mat-divider>
                          </mat-list-option>
                        </mat-selection-list>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </div>

              <!--ASSISTANCE PLANS-->
              <div class="row">
                <div class="col my-2">
                  <mat-card class="mat-elevation-z4 text-center">
                      <div class="container-fluid">
                        <div class="row text-start">
                          <mat-label class="fw-light">Hilfepläne *</mat-label>
                        </div>

                        <div class="row">
                          <mat-divider></mat-divider>
                        </div>

                        <div class="row">
                          <mat-selection-list [multiple]="false"
                                              *ngIf="filteredAssistancePlans.length > 0"
                                              formControlName="assistancePlanList">
                            <mat-list-option *ngFor="let value of filteredAssistancePlans"
                                             class="list-option-large"
                                             [value]="value.id">
                              <div class="container">
                                <div class="row">
                                  <div class="col">
                                    <div class="row">
                                      <span><b>{{getDateString(value)}}</b></span>
                                    </div>
                                    <div class="row">
                                      <span class="fw-light"
                                            *ngIf="value.hours.length != 0"><small>{{sumAssistancePlanHours(value.hours)}} h/Woche</small></span>
                                    </div></div>
                                  <div class="col">
                                    <span class="fw-light">{{getSponsorName(value)}}</span>
                                  </div>
                                </div>
                              </div>
                              <mat-divider></mat-divider>
                            </mat-list-option>
                          </mat-selection-list>
                          <mat-error *ngIf="filteredAssistancePlans.length == 0"><br><b>kein Hilfepläne gefunden</b></mat-error>
                        </div>
                      </div>
                    </mat-card>
                </div>

                <!--GOALS-->
                <div class="col my-2">
                  <mat-card class="mat-elevation-z4">
                        <div class="container-fluid">
                          <div class="row text-start">
                            <mat-label class="fw-light">Ziele</mat-label>
<!--                            <div class="position-top-end text-black" [hidden]="!(selectedAssistancePlan != null)">-->
<!--                              <button mat-icon-button-->
<!--                                      (click)="goals.toggle()"><mat-icon>menu</mat-icon></button>-->
<!--                            </div>-->
                          </div>
                          <div class="row">
                            <mat-divider></mat-divider>
                          </div>
                          <div class="row">
                            <mat-selection-list *ngIf="selectedAssistancePlan != null"
                                                class="text-start"
                                                formControlName="goalList">
                              <mat-list-option *ngFor="let value of selectedAssistancePlan.goals"
                                               color="primary"
                                               [value]="value.id">
                                {{value.title}}
                                <span class="fw-light"
                                      *ngIf="value.hours.length != 0"><small>{{sumGoalHours(value.hours)}} h/Woche</small></span>
                                <mat-divider></mat-divider>
                              </mat-list-option>
                            </mat-selection-list>
                            <mat-error *ngIf="selectedAssistancePlan == null"><br><b>keine Ziele gefunden</b></mat-error>
                          </div>
                        </div>
                      </mat-card>
                </div>
              </div>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Stundentyp</mat-label>
              <mat-select formControlName="hourType"
                          required>
                <mat-option *ngFor="let value of assistancePlanHourTypes"
                            [value]="value.id">
                  {{value.title}}
                </mat-option>
              </mat-select>
            </mat-form-field><br>

            <div class="row text-center">
              <div class="col">
                <button mat-button
                        class="mat-stroked-button mx-2"
                        matStepperPrevious>Zurück</button>
                <button mat-button
                        [disabled]="secondForm.invalid || !clientSelected || !assistancePlanSelected"
                        class="mat-stroked-button mx-2"
                        matStepperNext>Weiter</button>
              </div>
            </div>
          </form>
        </div>
      </mat-step>

      <mat-step [stepControl]="thirdForm">
        <ng-template matStepLabel>Inhalt</ng-template>

        <div class="container-fluid text-start">
          <form [formGroup]="thirdForm">
            <div class="row">
              <!--CATEGORIES-->
              <div class="col mb-2">
                <mat-card class="mat-elevation-z4 text-center">
                  <div class="container-fluid text-start">
                    <div class="row">
                      <mat-label class="fw-light">mögliche Kategorien</mat-label>
                    </div>
                    <div class="row">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="row">
                      <mat-selection-list class="text-start"
                                          formControlName="categoryList">
                        <mat-list-option *ngFor="let value of categories"
                                         color="primary"
                                         [value]="value.id">
                          {{value.title}}
                        </mat-list-option>
                        <mat-error *ngIf="categories.length == 0"><br><b>keine Kategorien gefunden</b></mat-error>
                      </mat-selection-list>
                    </div>
                  </div>
                </mat-card>
              </div>

              <!--TITLE AND CONTENT-->
              <div class="col">
                <div class="row mb-2">
                  <mat-form-field appearance="outline"
                                  class="w-100">
                    <mat-label>Titel</mat-label>
                    <input matInput
                           maxlength="64"
                           placeholder="..."
                           formControlName="title">
                    <mat-hint>{{64 - value.title.length}} Zeichen übrig</mat-hint>
                  </mat-form-field>
                </div>
                <div class="row my-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Inhalt</mat-label>
                    <textarea matInput
                              placeholder="..."
                              rows="7"
                              class="w-100"
                              maxlength="1024"
                              formControlName="content"></textarea>
                    <mat-hint>{{1024 - value.content.length}} Zeichen übrig</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row text-center my-3">
              <mat-checkbox formControlName="unfinished"
                            color="primary">
                <span>Eintrag noch nicht fertig?</span>
              </mat-checkbox><br><br>
            </div>

            <div class="row">
              <div class="text-center">
                <button mat-button
                        class="mat-stroked-button mx-2"
                        matStepperPrevious>Zurück</button>
                <button mat-button
                        class="mat-stroked-button mx-2"
                        [disabled]="thirdForm.invalid"
                        matStepperNext>Weiter</button>
              </div>
            </div>
          </form><br><br>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Speichern</ng-template>

        <div class="container text-center">
          <ng-template matStepLabel>Speichern</ng-template>
          <p>Alle Eingaben vollständig. Sie können den Dokumentationseintrag nun speichern.</p>
          <div>
            <button mat-button
                    class="mat-stroked-button m-1" matStepperPrevious>Zurück</button>
            <button mat-button
                    class="mat-stroked-button m-1"
                    [disabled]="isSubmitting"
                    (click)="create()">Speichern</button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</mat-drawer-container>
