<div class="container-fluid">
  <!--ADD-->
  <div class="row" [hidden]="hideAddButton">
    <div class="container-fluid text-center mt-2">
      <button mat-raised-button
              color="primary"
              *showOnRole="'leader'"
              (click)="openEditModal(content, null)"> Kontingent hinzufügen </button>
    </div>
  </div>

  <!--FILTER-->
  <div class="row mt-1">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fw-bold">
            Filter
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--FILTER CONTAINER-->
        <form [formGroup]="filterForm">
          <div class="container-fluid">
            <div class="row justify-content-start">
              <div class="col-auto">
                <div class="input-field">
                  <mat-form-field appearance="fill">
                    <mat-label>Stichtag</mat-label>
                    <input matInput
                           formControlName="date"
                           [matDatepicker]="filterPicker">
                    <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
                    <mat-datepicker-toggle matSuffix
                                           [for]="filterPicker"></mat-datepicker-toggle>
                    <mat-datepicker #filterPicker></mat-datepicker>
                    <button mat-icon-button
                            matPrefix
                            class="my-1 mx-2"
                            (click)="resetFilterDate()">
                      <mat-icon>clear</mat-icon></button>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-auto" [hidden]="hideInstitutionColumn">
                <div class="input-field">
                  <mat-form-field appearance="fill">
                    <mat-label>Bereich</mat-label>
                    <mat-select formControlName="institution">
                      <mat-option *ngFor="let value of institutions"
                                  [value]="value.id">
                        {{value.name}}
                      </mat-option>
                    </mat-select>
                    <button mat-icon-button
                            matPrefix
                            class="my-1 mx-2"
                            (click)="resetFilterInstitution()">
                      <mat-icon>clear</mat-icon></button>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-auto" [hidden]="hideEmployeeColumn">
                <div class="input-field">
                  <mat-form-field appearance="fill">
                    <mat-label>Mitarbeiter</mat-label>
                    <mat-select formControlName="employee"
                                (selectionChange)="setFilterEmployee($event)">
                      <mat-option *ngFor="let value of employees"
                                  [value]="value.id">
                        {{value.lastName}} {{value.firstName}}
                      </mat-option>
                    </mat-select>
                    <button mat-icon-button
                            matPrefix
                            class="my-1 mx-2"
                            (click)="resetFilterEmployee()">
                      <mat-icon>clear</mat-icon></button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--TABLE-->
  <div class="row mt-2 mx-0">

    <!--ACTIONS-->
    <div class="row"
         [hidden]="isSubmitting">
      <div class="col">
        <mat-paginator class="paginator"
                       showFirstLastButtons
                       (page)="handlePageEvent($event)"
                       [length]="pageLength"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"></mat-paginator>
      </div>
    </div>

    <!--LOADING-->
    <div class="row  m-2"
         [hidden]="!isSubmitting">
      <div class="row justify-content-center">
        <mat-spinner [strokeWidth]="2"
                     [diameter]="100"
                     class="center-spinner"></mat-spinner>
      </div>
      <div class="row text-center">
        <p><b>Lade Kontingente</b></p>
      </div>
    </div>

    <table mat-table
           matSort
           [hidden]="isSubmitting"
           (matSortChange)="sortData($event)"
           [dataSource]="tableSource"
           class="mat-elevation-z4">
      <ng-container matColumnDef="employee">
        <th mat-header-cell
            mat-sort-header="{{tableColumns[0]}}"
            *matHeaderCellDef
            [hidden]="hideEmployeeColumn"> Mitarbeiter </th>
        <td mat-cell
            [hidden]="hideEmployeeColumn"
            *matCellDef="let contingent"> {{contingent[0].lastName}} {{contingent[0].firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="institution">
        <th mat-header-cell
            mat-sort-header="{{tableColumns[1]}}"
            *matHeaderCellDef
            class="ps-4"
            [hidden]="hideInstitutionColumn"> Bereich </th>
        <td mat-cell
            *matCellDef="let contingent"
            class="ps-4"
            [hidden]="hideInstitutionColumn"> {{contingent[1].name}}</td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell
            mat-sort-header="{{tableColumns[2]}}"
            class="hide-on-small"
            *matHeaderCellDef> Beginn </th>
        <td mat-cell
            class="hide-on-small"
            *matCellDef="let contingent"> {{ getLocalDateString(contingent[2].start) }}</td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th mat-header-cell
            mat-sort-header="{{tableColumns[3]}}"
            *matHeaderCellDef> Ende </th>
        <td mat-cell
            *matCellDef="let contingent"> {{getLocalDateString(contingent[2].end)}}</td>
      </ng-container>

      <ng-container matColumnDef="hours">
        <th mat-header-cell
            mat-sort-header="{{tableColumns[4]}}"
            *matHeaderCellDef>h/Woche</th>
        <td mat-cell
            *matCellDef="let contingent"> {{contingent[2].weeklyServiceHours}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef
            class="text-center m-2"> Aktionen </th>
        <td mat-cell
            *matCellDef="let contingent"
            class="text-center m-2">
          <div class="text-center">
            <button mat-icon-button
                    color="primary"
                    class="m-1"
                    [hidden]="!contingent[3]"
                    (click)="openEditModal(content, contingent[2])">
              <mat-icon>edit</mat-icon></button>
            <button mat-icon-button
                    color="warn"
                    class="m-1"
                    *showOnRole="'admin'"
                    (click)="openDeleteConfirmation(deleteContent, contingent[2])">
              <mat-icon>delete</mat-icon></button>

            <!--DELETE MODAL CONFIRMATION-->
            <ng-template #deleteContent let-modal>
              <div class="modal-header">
                <h2 class="modal-title"
                    id="modal-basic-title-delete">Löschbestätigung</h2>
                <button type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>Wollen sie das Kontingent vom <b>{{ getLocalDateString(contingent[2].start) }}</b> wirklich löschen?</p>
              </div>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger"
                        (click)="modal.close(true)">Löschen</button>
                <button type="button"
                        class="btn btn-outline-dark"
                        (click)="modal.close(false)">Abbrechen</button>
              </div>
            </ng-template>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    </table>
  </div>

  <!--EDIT MODAL-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Kontingent</h2>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="container-fluid text-center">
        <form [formGroup]="infoForm">
          <mat-form-field appearance="fill"
                          [hidden]="modalEditMode">
            <mat-label>Bereich</mat-label>
            <mat-select formControlName="institution"
                        required>
              <mat-option *ngFor="let value of leadingInstitutions"
                          [value]="value.id">
                {{value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Beginn</mat-label>
            <input matInput
                   formControlName="start"
                   [matDatepicker]="startPicker"
                   required>
            <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
            <mat-datepicker-toggle matSuffix
                                   [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field><br><br>

          <div class="input-field">
            <mat-form-field appearance="fill">
              <mat-label>Ende</mat-label>
              <input matInput
                     formControlName="end"
                     [min]="minEndDate"
                     [matDatepicker]="endPicker">
              <mat-hint>optional</mat-hint>
              <mat-datepicker-toggle matSuffix
                                     [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
              <button mat-icon-button
                      matPrefix
                      (click)="resetEnd()">
                <mat-icon>clear</mat-icon></button>
            </mat-form-field><br><br>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Klientenstunden pro Woche</mat-label>
            <input matInput
                   type="number"
                   formControlName="hours"
                   required>
            <mat-hint>Punkttrennung (15.5)</mat-hint>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-raised-button
              color="primary"
              class="mx-1"
              [disabled]="infoForm.invalid"
              (click)="modal.close(true)">Speichern</button>
      <button mat-raised-button
              class="mx-1"
              (click)="modal.close(false)">Abbrechen</button>
    </div>
  </ng-template>
</div>
