.mat-row:hover {
  background-color: whitesmoke;
}

td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 130px;
}

.sidenav-height {
  height: 250px;
}


.background-red {
  background: rgba(255, 33, 33, 0.24) !important;
}
