<app-info-header [title]="'Hilfeplan von &quot;' + client.lastName + ' ' + client.firstName + '&quot;'"></app-info-header>

<mat-tab-group dynamicHeight [(selectedIndex)]="tabIndex">
  <mat-tab label="Allgemein">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z2 m-2">
        <mat-expansion-panel-header>
          <mat-panel-title class="fw-bold">
            Informationen
          </mat-panel-title>
        </mat-expansion-panel-header>

        <!--EDIT-->
        <div class="container-fluid text-center"
             [hidden]="!value.editable">
          <form [formGroup]="infoForm">
            <mat-form-field appearance="outline">
              <mat-label>Beginn</mat-label>
              <input matInput
                     formControlName="start"
                     [matDatepicker]="startPicker"
                     required>
              <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
              <mat-datepicker-toggle matSuffix
                                     [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field><br><br>

            <mat-form-field appearance="outline">
              <mat-label>Ende</mat-label>
              <input matInput
                     formControlName="end"
                     [matDatepicker]="endPicker"
                     required>
              <mat-hint>Tag.Monat.Jahr (15.2.2000)</mat-hint>
              <mat-datepicker-toggle matSuffix
                                     [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field><br><br>

            <mat-form-field appearance="outline">
              <mat-label>Kostenträger</mat-label>
              <mat-select formControlName="sponsor"
                          required>
                <mat-option *ngFor="let value of sponsors"
                            [value]="value.id">
                  {{value.name}}
                </mat-option>
              </mat-select>
            </mat-form-field><br>

            <div>
              <button mat-button
                      (click)="update()"
                      [disabled]="isSubmitting || infoForm.invalid"
                      color="primary"
                      mat-raised-button>Speichern</button>
            </div>
          </form>
        </div>

        <!--SHOW-->
        <div class="container-fluid"
             [hidden]="value.editable">
          <app-information-row [title]="'Beginn'"
                               [content]="value.dto.start"></app-information-row>
          <app-information-row [title]="'Ende'"
                               [content]="value.dto.end"></app-information-row>
          <app-information-row [title]="'Bereich'"
                               [content]="getInstitutionName(value.dto.institutionId)"></app-information-row>
          <app-information-row [title]="'Kostenträger'"
                               [content]="getSponsorName(value.dto.sponsorId)"></app-information-row>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-tab>

  <mat-tab label="Stunden">
    <app-assistance-plan-hours [assistancePlanView$]="value$"
                               [editable]="value.editable"
                               (updatedValueEvent)="updateAssistancePlanHour($event)"
                               (addedValueEvent)="addAssistancePlanHour($event)"
                               (deletedValueEvent)="deleteAssistancePlanHour($event)"></app-assistance-plan-hours>
  </mat-tab>

  <mat-tab label="Ziele">
    <app-goals [assistancePlanView$]="value$"
               [editable]="value.editable"
               (updatedGoalEvent)="updateGoal($event)"
               (addedGoalEvent)="createGoal($event)"
               (deletedGoalEvent)="deleteGoal($event)"></app-goals>
  </mat-tab>

  <mat-tab label="Zielauswertung">
  </mat-tab>

  <mat-tab label="tab. Ansichten">
    <app-assistance-plan-evaluation [assistancePlan$]="dto$"></app-assistance-plan-evaluation>
  </mat-tab>
</mat-tab-group>
