<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="h5 fw-light text-white">{{ title }}</span>

    @if (addButtonRouting) {
      <button mat-raised-button
            class="top-nav-button justify-content-end"
            *showOnRole="addRole"
            [routerLink]="addRouterLink">
      <mat-icon>add</mat-icon></button>
    }

    @if (!addButtonRouting) {
      <button mat-raised-button
            class="top-nav-button justify-content-end"
            *showOnRole="addRole"
            (click)="handleAddClick($event)">
      <mat-icon>add</mat-icon></button>
    }
  </div>
</nav>
